@model RoyalLibraryOfAlexandria.Models.Papyrus

@{
    ViewBag.Title = "Salvage Papyrus";
}

<h2>@ViewBag.Title</h2>

@using (var form = @Html.BeginForm("actuallycreate", "papyri"))
{

    <div class="row">        
        
        <div class="md-col-6 form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Title)
            @Html.ValidationMessageFor(model => model.Title, "Required", new { @class = "text-danger" })
        </div>
        <div class="md-col-6 form-group">
            @Html.LabelFor(m => m.Author, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Author)
        </div>
        
    </div>

    <div class="row">
        <div class="md-col-6 form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            @Html.TextAreaFor(x => x.Description, 14, 20, new { @class = "form-control" })
        </div>
    </div>


    <div class="row">
        <div class="md-col-12"><input type="submit" value="Recover Papyrus!" /></div>
    </div>

}